@import url('./reset-min.css');
@import url('./vernada.css');
@import url('./style.css');
.piscap{
  color: white;
  background-color: rgba(255, 0, 0, 0.788);
  animation: piscaPisca 2s infinite;
  text-align: center;
}
@keyframes piscaPisca{
  25% {background-color: rgb(136, 30, 30);}
  30% {background-color: rgb(230, 158, 63);}
} 
/*Imagens anuncios*/
.imgA{
  width: 20%;
}

/*Imagem responsiva*/
@media only screen and (max-width: 460px) {
  .imgA {
    width: 30%;
  }
  .imagem-responsiva {
    display: flex;
    flex-wrap: wrap;
  }
}
.carrinho{
  position: relative;
  width: 2.8rem;
}